<tr>
  <td><%= collection.name %></td>
  <td><%= collection.year %></td>
  <td><%= collection.published? %></td>
  <td>
    <div class="btn-group">
      <%= link_to 'View Collection', collection_path(collection), class: 'btn btn-primary', role: 'button' %>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <%= link_to 'Add Collection Item', new_collection_collection_item_path(collection), class: 'dropdown-item' %>
        <div class="dropdown-divider"></div>
        <%= link_to 'Edit Collection', edit_collection_path(collection), class: 'dropdown-item' %>
        <%= link_to 'Delete Collection', collection_path(collection), method: :delete, class: 'dropdown-item' %>
      </div>
    </div>
  </td>
</tr>