<% title "Collections - Edit Collection: #{@collection.name}" %>
<% page 'collections-page' %>

<%= link_to 'Cancel', collections_path, class: 'btn btn-danger btn-block', role: 'button' %>

<h1 class="text-xs-center display-3">
  Collections
  <small class="text-muted">Add New Collection</small>
</h1>

<div class="card card-block card-inverse form-card">
  <%= form_for @collection do |f| %>
      <fieldset class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', required: true %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :year, 'Collection Year' %>
        <%= f.number_field :year, class: 'form-control', min: 2010 %>
      </fieldset>

      <fieldset class="form-group">
        <label class="c-input c-checkbox">
          <%= f.check_box :available %>
          <span class="c-indicator"></span>
          Publish?
        </label>
      </fieldset>

      <fieldset class="form-group">
        <label class="c-input c-checkbox">
          <%= f.check_box :ordered %>
          <span class="c-indicator"></span>
          Display According to Upload?
        </label>
      </fieldset>

      <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
  <% end %>
</div>