<% title 'Collections' %>
<% page 'collections-page' %>

<%= link_to 'Add New Collection', new_collection_path, class: 'btn btn-secondary btn-block', role: 'button' %>

<h1 class="text-xs-center display-3">
  Collections
  <small class="text-muted">List of collections</small>
</h1>

<table class="table table-inverse">
  <thead>
    <tr>
      <th>Collection Name</th>
      <th>Collection Year</th>
      <th>Published?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render(@collections) || content_tag(:tr, content_tag(:td, 'No Collections')) %>
  </tbody>
</table>
