<% title "Collections - #{@collection.name}" %>
<% page 'collections-page' %>

<%= link_to 'Back to Collections', collections_path, class: 'btn btn-secondary btn-block', role: 'button' %>
<%= link_to 'Add New Collection Item', new_collection_collection_item_path(@collection), class: 'btn btn-primary btn-block', role: 'button' %>

<h1 class="text-xs-center display-3">
  Collections
  <small class="text-muted"><%= @collection.name %></small>
</h1>

<div class="card-columns" id="collection-items">
  <%= render @collection.collection_items %>
</div>



