<div class="card">
  <%= attachment_image_tag(collection_item, :image, :fit, 640, 650, {alt: collection_item.name, class: 'img-fluid'}) %>
  <div class='card-block text-xs-center'>
    <div class="delete-container">
      <a role="button" class="close" href="<%= collection_collection_item_path(collection_item.collection, collection_item) %>" rel="nofollow" data-method="delete" data-confirm="Are you sure you want to delete this item?" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div class="card-block-content">
      <% if collection_item.item_for_sale %>
        <%= link_to 'Set as Image', image_collection_collection_item_path(collection_item.collection, collection_item), class: 'btn btn-primary btn-sm text-xs-center', method: :post %>
      <% else %>
        <%= link_to 'Set for Sale', commercial_item_collection_collection_item_path(collection_item.collection, collection_item), class: 'btn btn-primary btn-sm text-xs-center', method: :post %>
      <% end %>
      <% if collection_item.name.present? %>
        <p class="item-title"><%= collection_item.name %></p>
      <% end %>
    </div>
  </div>
</div>