<% title 'Collections - Add New Collection Item' %>
<% page 'collections-page' %>

<%= link_to 'Cancel', collections_path, class: 'btn btn-danger btn-block', role: 'button' %>

<h1 class="text-xs-center display-3">
  Collections
  <small class="text-muted">Add New Collection Item</small>
</h1>

<div class="card card-block card-inverse form-card">
  <%= form_for [@collection, @collection.collection_items.new] do |f| %>
      <%= f.hidden_field :collection_id %>
      <fieldset class="form-group">
        <%= f.label :name, 'Item Name (Not required if just image in gallery)' %>
        <%= f.text_field :name, class: 'form-control' %>
      </fieldset>

      <fieldset class="form-group">
        <label class="file">
          <%= f.attachment_field :image, required: true %>
          <span class="file-custom"></span>
        </label>
      </fieldset>

      <fieldset class="form-group">
        <label class="c-input c-checkbox">
          <%= f.check_box :item_for_sale %>
          <span class="c-indicator"></span>
          Item for Sale? (Leave unchecked if just image in gallery)
        </label>
      </fieldset>

      <%= f.submit 'Add Item', class: 'btn btn-primary' %>
  <% end %>
</div>