<% title 'Welcome' %>
<% page 'home-page' %>

<div class="jumbotron">
  <h1 class="display-3">Welcome</h1>
  <p class="lead">This is the content management system for Rhionromany.com</p>
  <hr class="m-y-md">
  <p>Select an option from below:</p>
  <p class="lead">
    <%= link_to 'Manage Collections', collections_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    <%= link_to 'Manage Enquiries', enquiries_path, class: 'btn btn-primary btn-lg', role: 'button' %>
  </p>
</div>