<% title 'Issue Purchase Authorization' %>
<% page 'sale_authorizations-page' %>

<%= link_to 'Back to Enquiries', enquiries_path, class: 'btn btn-secondary btn-block', role: 'button' %>

<h1 class="text-xs-center display-3">
  Purchase Authorization
  <small class="text-muted">For <%= @enquiry.user.name %>: <%= @enquiry.collection_item.name %>[<%= @enquiry.collection_item.collection.name %>]</small>
</h1>

<div class="card mx-auto" id="authorization-card">
  <div class="card-header">
    Issue Purchase Authorization
  </div>
  <div class="card-block">
    <%= form_for @enquiry.build_sale_authorization, url: enquiry_sale_authorization_path(@enquiry) do |f| %>
      <%= f.hidden_field :enquiry_id %>
      <%= f.hidden_field :collection_item_id, value: @enquiry.collection_item_id %>
      <%= f.hidden_field :user_id, value: @enquiry.user_id %>
      <fieldset class="form-group">
        <%= f.label :valid_to, "Valid Until:" %>
        <%= f.datetime_local_field :valid_to, class: 'form-control', required: true, ampm: true, start_year: Date.today.year, order: [:hour, :minute, :day, :month, :year] %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, class: 'form-control', required: true, data: {autonumeric: {aSign: 'USD ', mDec: 2}} %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :message, 'Additional Text Goes Here:' %>
        <%= f.text_area :message, class: 'form-control' %>
      </fieldset>

      <%= f.submit 'Authorize Purchase', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>