<%
   @pagetitle = 'Purchase Authorization Received'
   @email_introduction = 'You have received authorization to purchase an item at RhionRomany.com'
%>

<p>You have received authorization to purchase the item, <%= @auth.collection_item.name %>, from the <%= @auth.collection_item.collection.name %> collection.</p>
<p>You may use the link below to access all of the authorizations that have been granted on your RhionRomany.com account:</p>
<p><%= link_to 'My Account: Authorization', @auth.user_authorizations_url, style: 'text-decoration: underline;' %></p>