<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <a class="navbar-brand" href="#">Rhion Romany</a>
  <ul class="nav navbar-nav">
    <li class="nav-item"><%= link_to 'Collections', collections_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to 'Enquiries', enquiries_path, class: 'nav-link' %></li>
  </ul>
  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item"><%= link_to 'Log Out', destroy_admin_session_path, method: :delete, class: 'nav-link' %></li>
  </ul>
</nav>