<% if response.writer.name == 'Admin'
     writer_name = 'You'
   else
     writer_name = response.writer.name
   end
%>

<li class="list-group-item">
  <h6 class="list-group-item-heading"><%= writer_name %>:</h6>
  <p class="list-group-item-text"><%= response.message %></p>
</li>


