<% title "Enquiry from #{@enquiry.user.name}" %>
<% page 'responses-page' %>

<%= link_to 'Back to Enquiries', enquiries_path, class: 'btn btn-secondary btn-block', role: 'button' %>
<%= link_to 'Add Response', new_enquiry_response_path(@enquiry), class: 'btn btn-primary btn-block', role: 'button' %>

<h1 class="text-xs-center display-3">
  Enquiry
  <small class="text-muted">From <%= @enquiry.user.name %> | Re: <%= @enquiry.collection_item.name %></small>
</h1>

<div class="list-group">
  <%= render(partial: 'enquiry', object: @enquiry) if @enquiry.message.present? %>
  <%= render @enquiry.responses.order(created_at: :asc) %>
</div>