<% title "Enquiry from #{@enquiry.user.name} - New Response" %>
<% page 'responses-page' %>

<%= link_to 'Back to Enquiries', enquiries_path, class: 'btn btn-secondary btn-block', role: 'button' %>

<h1 class="text-xs-center display-3">
  Enquiry
  <small class="text-muted">From <%= @enquiry.user.name %> | Re: <%= @enquiry.collection_item.name %></small>
</h1>

<div class="card mx-auto" id="messages-card">
  <div class="card-header">
    Write your response
  </div>
  <div class="card-block">
    <%= form_for [@enquiry, @enquiry.responses.new] do |f| %>
      <%= f.hidden_field :enquiry_id %>
      <fieldset class="form-group">
        <%= f.label :message %>
        <%= f.text_area :message, class: 'form-control', required: true %>
      </fieldset>

      <%= f.submit 'Send', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="list-group">
  <%= render @enquiry.responses.order(created_at: :desc) %>
  <%= render(partial: 'enquiry', object: @enquiry) if @enquiry.message.present? %>
</div>