<% title 'Log In' %>
<% page 'login-page' %>
<% @hide_nav = true %>

<div id="logo" class="text-xs-center">
  <%= image_tag 'RR-logo.png', alt: 'Rhion Romany logo', class: 'mx-auto' %>
</div>

<div class="card mx-auto text-xs-center" id="authentication-form">
  <div class="card-header">
    Please log in
  </div>
  <div class="card-block">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <fieldset class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control', required: true, autofocus: true %>
        </fieldset>

        <fieldset class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: 'form-control', required: true, autocomplete: "off" %>
        </fieldset>

        <% if devise_mapping.rememberable? -%>
            <fieldset class="form-group">
              <label class="c-input c-checkbox">
                <%= f.check_box :remember_me %>
                <span class="c-indicator"></span>
                Remember Me
              </label>
            </fieldset>
        <% end -%>

        <%= f.submit 'Log In', class: 'btn btn-primary' %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>

