@import 'bootstrap-flex';
@import 'fonts';

body {
  > .container-fluid {
    padding-top: 80px;
  }

  &#home-page,
  &#login-page {
    > .container-fluid {
      padding-top: 0;
    }
  }
}

.form-card {
  background: #333;
  border-color: #333;

  form {
    label {
      color: white;
    }

  }
}

#authentication-form,
#messages-card {
  max-width: 960px;
}

@import 'collections';