#collection-items.card-columns {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 0;

  .card {
    border: 0;
    border-radius: 0;
    margin: 0;
    display: block;
    font-family: 'LondonMM', $font-family-base;
    z-index: 98;

    .card-block {
      bottom: 0;
      width: 100%;
      height: 100%;
      left: 0;
      padding: 0;
      position: absolute;
      z-index: 99;

      .card-block-content {
        position: absolute;
        bottom: 0;
        text-align: center;
        color: white;
        width: 100%;

        .item-title {
          font-size: 1.254rem;
          color: white;
          text-transform: uppercase;
          text-align: center;
        }
      }

      .delete-container {
        position: absolute;
        top: 0.5rem;
        right: 0.625rem;
      }
    }
  }
}