@font-face {
  font-family: 'LondonBetween';
  src: font-url('londonbetween-webfont.eot');
  src: font-url('londonbetween-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('londonbetween-webfont.otf')  format('opentype'),
  font-url('londonbetween-webfont.woff') format('woff'),
  font-url('londonbetween-webfont.ttf')  format('truetype'),
  font-url('londonbetween-webfont.svg#londonbetween-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LondonTwo';
  src: font-url('londontwo-webfont.eot');
  src: font-url('londontwo-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('londontwo-webfont.otf')  format('opentype'),
  font-url('londontwo-webfont.woff') format('woff'),
  font-url('londontwo-webfont.ttf')  format('truetype'),
  font-url('londontwo-webfont.svg#londontwo-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LondonMM';
  src: font-url('londonmm-webfont.eot');
  src: font-url('londonmm-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('londonmm-webfont.otf')  format('opentype'),
  font-url('londonmm-webfont.woff') format('woff'),
  font-url('londonmm-webfont.ttf')  format('truetype'),
  font-url('londonmm-webfont.svg#londonmm-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

