<tr>
  <td><%= authorized_enquiry.created_at.strftime('%d/%m/%Y') %></td>
  <td><%= authorized_enquiry.user.name %></td>
  <td><%= authorized_enquiry.collection_item.collection.name %> - <%= authorized_enquiry.collection_item.name %></td>
  <td><%= authorized_enquiry.sale_authorization.created_at.strftime('%d/%m/%Y') %></td>
  <td>
    <div class="btn-group">
      <%= link_to 'Cancel Authorization', enquiry_sale_authorization_path(authorized_enquiry), method: :delete, class: 'btn btn-danger', role: 'button' %>
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <%= link_to 'Edit Authorization', edit_enquiry_sale_authorization_path(authorized_enquiry), class: 'dropdown-item' %>
      </div>
    </div>
  </td>
</tr>