<tr>
  <td><%= closed_enquiry.created_at.strftime('%d/%m/%Y') %></td>
  <td><%= closed_enquiry.user.name %></td>
  <td><%= closed_enquiry.collection_item.collection.name %> - <%= closed_enquiry.collection_item.name %></td>
  <td>
    <% if closed_enquiry.message.present? or (closed_enquiry.responses.count. > 0) %>
      <div class="btn-group">
        <%= link_to 'Open Enquiry', open_enquiry_path(closed_enquiry), class: 'btn btn-primary', role: 'button', method: :post %>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <% if closed_enquiry.message.present? -%>
            <%= link_to 'View Enquiry Message', enquiry_path(closed_enquiry), class: 'dropdown-item' %>
          <% end -%>
          <% if closed_enquiry.responses.count > 0 -%>
            <%= link_to 'View Message Thread', '#', class: 'dropdown-item' %>
          <% end -%>
        </div>
      </div>
    <% else %>
      <%= link_to 'Open Enquiry', open_enquiry_path(closed_enquiry), class: 'btn btn-primary', role: 'button', method: :post %>
    <% end %>
  </td>
</tr>