<tr>
  <td><%= open_enquiry.created_at.strftime('%d/%m/%Y') %></td>
  <td><%= open_enquiry.user.name %></td>
  <td><%= open_enquiry.collection_item.collection.name %> - <%= open_enquiry.collection_item.name %></td>
  <td>
    <div class="btn-group">
      <% if open_enquiry.message.present? %>
        <%= link_to 'View Enquiry', enquiry_path(open_enquiry), class: 'btn btn-primary', role: 'button' %>
      <% else %>
        <%= link_to 'Respond to Enquiry', new_enquiry_response_path(open_enquiry), class: 'btn btn-primary', role: 'button' %>
      <% end %>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <% if open_enquiry.message.present? %>
            <%= link_to 'Respond to Enquiry', new_enquiry_response_path(open_enquiry), class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
        <% end %>
        <% if open_enquiry.responses.count > 0 %>
            <%= link_to 'View Message Thread', enquiry_responses_path(open_enquiry), class: 'dropdown-item' %>
        <% end %>
        <%= link_to 'Authorize Sale', new_enquiry_sale_authorization_path(open_enquiry), class: 'dropdown-item' %>
        <%= link_to 'Close Enquiry', close_enquiry_path(open_enquiry), class: 'dropdown-item', method: :delete %>
      </div>
    </div>
  </td>
</tr>