<% title 'Enquiries' %>
<% page 'enquiries-page' %>

<h1 class="text-xs-center display-3">
  Enquiries
  <small class="text-muted">List of enquiries</small>
</h1>

<% opened = "
  <table class='table'>
    <thead class='thead-inverse'>
      <tr>
        <th>Date</th>
        <th>Enquirer</th>
        <th>Item</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      #{render(partial: 'enquiries/open_enquiry', collection: @enquiries.opened) || content_tag(:tr, content_tag(:td, 'No Enquiries'))}
    </tbody>
  </table>
".html_safe

authorized = "
  <table class='table'>
    <thead class='thead-inverse'>
      <tr>
        <th>Date</th>
        <th>Enquirer</th>
        <th>Item</th>
        <th>Date of Authorization</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      #{render(partial: 'enquiries/authorized_enquiry', collection: @enquiries.authorized) || content_tag(:tr, content_tag(:td, 'No Authorized Enquiries'))}
    </tbody>
  </table>
".html_safe

closed = "
  <table class='table'>
    <thead class='thead-inverse'>
      <tr>
        <th>Date</th>
        <th>Enquirer</th>
        <th>Item</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      #{render(partial: 'enquiries/closed_enquiry', collection: @enquiries.closed) || content_tag(:tr, content_tag(:td, 'No Enquiries'))}
    </tbody>
  </table>
".html_safe

tabs = {:open => opened, :authorized => authorized, :closed => closed}
%>

<!-- Create Tabs with Tab Helper -->
<%= tabs_for(tabs) %>
