<% title "Enquiry from #{@enquiry.user.name}" %>
<% page 'enquiries-page' %>

<%= link_to 'Back to Enquiries', enquiries_path, class: 'btn btn-secondary btn-block', role: 'button' %>
<%= link_to 'Add Response', new_enquiry_response_path(@enquiry), class: 'btn btn-primary btn-block', role: 'button' %>

<h1 class="text-xs-center display-3">
  Enquiry
</h1>

<div class="card mx-auto" id="messages-card">
  <div class="card-header">
    <h5><%= @enquiry.collection_item.collection.name + ' - ' + @enquiry.collection_item.name %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p><strong>From: </strong><%= @enquiry.user.name %></p>
    </li>
    <li class="list-group-item">
      <p><strong>Date: </strong><%= @enquiry.created_at.strftime('%d/%m/%Y') %></p>
    </li>
  </ul>
  <div class="card-block">
    <p><%= @enquiry.message %></p>
  </div>
</div>