<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= if content_for?(:title) then yield(:title) + ' | ' end %> Rhion Romany Content Management System</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= csrf_meta_tags %>
  </head>
  <body class="application-interface" id="<%= if content_for?(:page) then yield(:page) end %>">
    <%= render partial: 'shared/top_menu' unless @hide_nav %>
    <div class="container-fluid">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
