<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html" ; charset="UTF-8" http-equiv="Content-Type">
  <title><%= @pagetitle %></title>
  <style type="text/css">
    #outlook a { padding: 0;}
    .ReadMsgBody { width: 100%; } .ExternalClass {width: 100%;}
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing */
    body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
    table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;} /* Remove spacing between tables in Outlook 2007 and up */
    img{-ms-interpolation-mode:bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */

    /* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
    body{margin:0; padding:0;}
    img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
    table{border-collapse:collapse !important;}
    body, #bodyTable, #bodyCell{height:100% !important; margin:0; padding:0; width:100% !important;}

    #bodyCell {padding:20px;}
    #templateContainer {width:600px;}

    body, #bodyTable {
      background-color: #FFFFFF;
    }

    #bodyCell {
      border-top: 4px solid #bfd630;
    }

    #templateContainer {
      border: 1px solid #bfd630;
    }

    h1 {
      color: #000000 !important;
      display: block;
      font-family: Helvetica;
      font-size: 22px;
      font-style: normal;
      font-weight: bold;
      line-height: 100%;
      letter-spacing: normal;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 10px;
      margin-left: 0;
      text-align: left;
      text-decoration: underline;;
    }

    h2 {
      color: #000000 !important;
      display: block;
      font-family: Helvetica;
      font-size: 20px;
      font-style: normal;
      font-weight: bold;
      line-height: 100%;
      letter-spacing: normal;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 10px;
      margin-left: 0;
      text-align: left;
    }

    h3 {
      color: #000000 !important;
      display: block;
      font-family: Helvetica;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      line-height: 120%;
      letter-spacing: normal;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 10px;
      margin-left: 0;
      text-align: left;
    }

    h4 {
      color: #000000 !important;
      display: block;
      font-family: Helvetica;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      line-height: 100%;
      letter-spacing: normal;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 10px;
      margin-left: 0;
      text-align: left;
    }

    h4.underline {
      text-decoration: underline;
    }

    #templatePreheader {
      background-color: #5c6b17;
      border-bottom: 1px solid #00aeef;
    }

    .preheaderContent{
      color: #FFFFFF;
      font-family: Helvetica;
      font-size: 12px;
      line-height: 125%;
      text-align: center;
      font-weight: bold;
    }

    .preheaderContent a:link, .preheaderContent a:visited, .preheaderContent a .yshortcuts {
      color: #B00100;
      font-weight: normal;
      text-decoration: underline;
    }

    #templateHeader {
      background-color: #FFFFFF;
    }

    .headerContent {
      color: #000000;
      font-family: Helvetica;
      font-size: 18px;
      font-weight: bold;
      line-height: 100%;
      padding-top: 20px;
      padding-right: 10px;
      padding-bottom: 20px;
      padding-left: 10px;
      text-align: center;
      vertical-align: middle;
    }

    #headerImage {
      height: auto;
      max-width: 450px;
    }

    #templateBody {
      background-color: #00aeef;
      border-top: 1px solid #FFFFFF;
      border-bottom: 1px solid #CCCCCC;
    }

    .bodyContent {
      color: #000000;
      font-family: Helvetica;
      font-size: 14px;
      line-height: 150%;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      text-align: left;
    }

    .bodyContent a:link, .bodyContent a:visited, .bodyContent a .yshortcuts {
      color: #bfd630;
      font-weight: normal;
      text-decoration: underline;
    }

    .bodyContent img {
      display: inline;
      height: auto;
      max-width: 560px;
    }

    #templateFooter {
      background-color: #999999;
      border-top: 1px solid #FFFFFF;
    }

    .footerContent {
      color: #000000;
      font-family: Helvetica;
      font-size: 10px;
      line-height: 150%;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      text-align: left;
    }

    .footerContent a:link, .footerContent a:visited, .footerContent a .yshortcuts .footerContent a span {
      color: #00aeef;
      font-weight: normal;
      text-decoration: underline;
    }

    @media only screen and (max-width: 480px) {
      body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:none !important;} /* Prevent Webkit platforms from changing default text sizes */
      body{width:100% !important; min-width:100% !important;} /* Prevent iOS Mail from adding padding to the body */
      /* /\/\/\/\/\/\/ MOBILE RESET STYLES /\/\/\/\/\/\/ */
      #bodyCell{padding:10px !important;}

      #templateContainer {
        max-width: 600px !important;
        width: 100% !important;
      }

      h1 {
        font-size: 18px !important;
        line-height: 100% !important;
      }

      h2 {
        font-size: 16px !important;
        line-height: 100% !important;
      }

      h3 {
        font-size: 14px !important;
        line-height: 100% !important;
      }

      h4 {
        font-size: 12px !important;
        line-height: 100% !important;
      }

      #templatePreheader {
        display: none !important;
      }

      #headerImage {
        height: auto !important;
        max-width: 450px !important;
        width: 100%;
      }

      .headerContent {
        font-size: 16px !important;
        line-height: 125% !important;
      }

      .bodyContent {
        font-size: 14px !important;
        line-height: 125% !important;
      }

      .footerContent {
        font-size: 10px !important;
        line-height: 115% !important;
      }

      .footerContent a { display: block !important;}
    }
  </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0;background-color: #eceeef;height: 100% !important;width: 100% !important;">
<center>
  <table align="center" border="0" cellspacing="0" cellpadding="0" height="100%" width="100%" id="bodyTable" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 0;background-color: #FFFFFF;border-collapse: collapse !important;height: 100% !important;width: 100% !important;">
    <tr>
      <!-- BEGIN TEMPLATE -->
      <td align="center" valign="top" id="bodyCell" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;margin: 0;padding: 20px;border-top: 4px solid #000000;height: 100% !important;width: 100% !important;">
        <table border="0" cellpadding="0" cellspacing="0" id="templateContainer" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 900px;border: 1px solid #000000;border-collapse: collapse !important;">
          <tr>
            <td align="center" valign="top" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
              <!-- BEGIN PREHEADER -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #000000;border-bottom: 1px solid #FFFFFF;border-collapse: collapse !important;">
                <tr>
                  <td valign="top" class="preheaderContent" style="padding-top: 10px;padding-right: 20px;padding-bottom: 10px;padding-left: 20px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #FFFFFF;font-family: Helvetica;font-size: 12px;line-height: 125%;text-align: center;font-weight: bold;">
                    <%= @email_introduction %>
                  </td>
                </tr>
              </table>
              <!-- END PREHEADER -->
            </td>
          </tr>
          <tr>
            <td align="center" valign="top" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
              <!-- BEGIN HEADER -->
              <table border="0" cellpadding="0" width="100%" id="templateHeader" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: black;border-collapse: collapse !important;">
                <tr>
                  <td valign="top" class="headerContent" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt; vertical-align: middle;">
                    <%= image_tag 'top-menu-bg.jpg', id: 'headerImage' %>
                  </td>
                </tr>
              </table>
              <!-- END HEADER -->
            </td>
          </tr>
          <tr>
            <td align="center" valign="top" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
              <!-- BEGIN BODY -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #FFFFFF;border-top: 1px solid #FFFFFF;border-bottom: 1px solid #000000;border-collapse: collapse !important;">
                <tr>
                  <td valign="top" class="bodyContent" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #000000;font-family: Helvetica;font-size: 14px;line-height: 150%;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;text-align: left;">
                    <%= yield %>
                  </td>
                </tr>
              </table>
              <!-- END BODY -->
            </td>
          </tr>
          <tr>
            <td valign="top" align="center" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
              <!-- BEGIN FOOTER -->
              <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;background-color: #000000;border-top: 1px solid #FFFFFF;border-collapse: collapse !important;">
                <tr>
                  <td valign="top" class="footerContent" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;color: #FFFFFF;font-family: Helvetica;font-size: 10px;line-height: 150%;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;text-align: left;">
                    <em>Copyright &copy; <%= Date.today.year %> Rhion Romany, All rights reserved</em>
                    <br>
                    <br>
                    <strong>Contact us at:</strong>
                    <br>
                    info@rhionromany.com
                  </td>
                </tr>
              </table>
              <!-- END FOOTER -->
            </td>
          </tr>
        </table>
        <!-- END TEMPLATE -->
      </td>
    </tr>
  </table>
</center>
</body>
</html>