<%
   @pagetitle = 'Response Received Notification'
   @email_introduction = 'You have received a message regarding one of your enquiries'
%>

<p>You received a response at <%= @response.created_at.strftime('%I:%M %p') %>, on <%= @response.created_at.strftime('%B %y, %Y') %>, from
  the administrative team at Rhion Romany.</p>
<p>The message follows:</p>
<p><%= @response.message %></p>
<p style="border-top: 1px solid #000000; padding-top: 25px;">
  You can respond to this message <a style="text-decoration: underline; color: inherit;" href="<%= @response.user_response_url %>" target="_blank">here</a>.
</p>